body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        10deg,
        red,
        blue
    );
}

#gameGrid{
    display: grid;
    height: 800px ;
    background-color: rgba(124, 177, 159, 0.786);
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.box{
border: 0.1px rgba(255, 255, 255, 0.553) dashed;
border-bottom: 0px;
border-right: 0px;
width: 40px;
display: flex;
justify-content: center;
align-items: center;
}

.player, .rocks, .treasure{
    width: 40px;
}
